.card {
    width: 256px;
    height: 366px;
    border-radius: 12px;
    background: #FFCC00;
    padding: 15px;
    display: grid;
    grid-template-columns: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0px 0px 16px 0px rgba(165,165,200,0.4);
}

.card-background {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.card-content-container {
    width: 100%;
    height: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-name-type-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.pokemon-image-border {
    display: flex;
    justify-content: center;
    width: 216px;
    height: 160px;
    border: 4px solid #FFCC00;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.pokemon-image {
    height: 160px;
    width: 160px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.pokemon-height-weight {
    color: black;
    font-size: 10px;
    background: linear-gradient(to right, #E1B76B, #FFFADF, #D9A550, #FFF9DF, #D1A245);
    margin-top: 4px;
    padding: 0 8px;
    border-radius: 4px
}

.pokemon-id {
    color: #2F4F4F;
    font-weight: 200;
    font-family: 'Gill-Sans';
    margin-left: 12px;
}

.pokemon-name {
    font-family: 'Gill-Sans-Bold';
    color: black;
    font-size: 24px;
    margin-left: 12px;
}

.hp-type-container {
    color: #2F4F4F;
    margin-right: 12px;
    display: flex;
}

.hp {
    align-self: center;
    font-family: 'Gill-Sans-Bold';
    font-size: 16px;
    margin-right: 8px;
}

.type-icon {
    border-radius: 100%;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
}

.abilities-list {
    width: calc(100% - 24px);
}

.ability {
    font-family: 'Gill-Sans-Bold';
    color: black;
    font-size: 16px;
}

.ability-divider {
    border-color: black;
    border-top: none;
}

.stroke {
    filter: drop-shadow(1px 0 0 white) 
    drop-shadow(0 1px 0 white)
    drop-shadow(-1px 0 0 white) 
    drop-shadow(0 -1px 0 white);
}