.pokemon-grid {
    display: grid;
    width: 100%;
    margin: 12px;
    justify-content: space-evenly;
    gap: 32px;
    margin-top: 48px;
}

@media screen and (min-width: 2520px) {
    .dynamic-grid {
        grid-template-columns: repeat(8, 128px);
    }    
}

@media screen and (min-width: 2220px) and (max-width: 2519px) {
    .dynamic-grid {
        grid-template-columns: repeat(7, 128px);
    }    
}

@media screen and (min-width: 1920px) and (max-width: 2219px) {
    .dynamic-grid {
        grid-template-columns: repeat(6, 128px);
    }    
}

@media screen and (min-width: 1620px) and (max-width: 1919px) {
    .dynamic-grid {
        grid-template-columns: repeat(5, 128px);
    }    
}

@media screen and (min-width: 1320px) and (max-width: 1619px) {
    .dynamic-grid {
        grid-template-columns: repeat(4, 128px);
    }    
}

@media screen and (min-width: 1020px) and (max-width: 1319px) {
    .dynamic-grid {
        grid-template-columns: repeat(3, 128px);
    }    
}

@media screen and (min-width: 720px) and (max-width: 1019px) {
    .dynamic-grid {
        grid-template-columns: repeat(2, 128px);
    }    
}

@media screen and (max-width: 719px) {
    .dynamic-grid {
        grid-template-columns: repeat(1, 128px);
    }    
}