.header-container {
    width: calc(100% - 88px);
    background: #f5fffa;
    padding: 8px 32px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: "Pokemon";
    font-size: 32px;
    text-align: center;
    color: #ffcc00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #daa520;
    margin-left: 12px;
    transform: translateY(-8px);
}

@media screen and (max-width: 600px) {
    .logo-text {
        display: none;
    }
}

.search-bar {
    background: #f5fffa;
    border: 2px solid #c0c0c0;
    color: #2f4f4f;
    border-radius: 16px;
    font-size: 24px;
    padding: 4px;
    padding-left: 8px;
}

.search-bar:focus {
    outline: none;
    border: 2px solid #a9a9a9;
}
