@font-face {
  font-family: "Pokemon";
  src: local("Pokemon-Solid"),
  url("./assets/fonts/Pokemon/Pokemon-Solid.ttf")
}

@font-face {
  font-family: "Gill-Sans";
  src: local("Gill-Sans"),
  url("./assets/fonts/Gill-Sans/Gill-Sans.otf")
}

@font-face {
  font-family: "Gill-Sans-Bold";
  src: local("Gill-Sans-Bold"),
  url("./assets/fonts/Gill-Sans/Gill-Sans-Bold.otf")
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E6E6FA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  padding: 0;
  margin: 0;
}